<div class="container">
  <h2>Current projects</h2>

  {% for i in 1..3 %}
  <section class="collapse-container">
    <header class="collapse-title collapse-title-desktop collapsed" data-toggle="collapse" data-target="#project-available-{{loop.index}}" aria-expanded="false" aria-controls="project-available-{{loop.index}}">
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipising elit</p>
      <ul class="project-data list-inline has-sep small text-muted">
        <li>ID: 9762</li>
        <li><span class="sr-only">Semester: </span>Fall 2020</li>
        <li><span class="sr-only">Type(s): </span>MS, PdM</li>
        <li><span class="sr-only">Section(s): </span>GM, MT, EL</li>
        <li class="available"><span class="sr-only">Status: </span>Available</li>
        <li><span class="sr-only">Professor: </span>Jane Doe</li>
      </ul>
    </header>

    <div class="collapse collapse-item collapse-item-desktop" id="project-available-{{loop.index}}">
      <div class="project-thumb alignright">
        {% include '@atoms/picture/picture-thumb-square.twig' %}
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus fringilla est, quis facilisis nunc suscipit ut. Sed dignissim orci non risus convallis consequat. Etiam sit amet feugiat orci, eget eleifend metus. Nam sagittis purus nec purus posuere viverra eu eu leo. Suspendisse nec arcu pharetra, dictum ante vel, bibendum mauris. Integer lacus augue, tincidunt sodales diam quis, pellentesque dictum nisl. Etiam aliquam eros ac urna tincidunt auctor.</p>
      <p>Integer auctor dictum felis eget interdum. Aenean arcu est, bibendum sit amet elit id, accumsan sollicitudin orci. Aenean tincidunt fringilla justo. Aliquam faucibus odio sem. Quisque neque magna, mattis id lectus eu, fermentum lacinia est. Fusce tincidunt tincidunt luctus. Nam sed vestibulum sapien. Maecenas vel rhoncus risus. Pellentesque facilisis tellus vitae nunc pulvinar, vitae tempus odio consequat.</p>

      <dl class="definition-list definition-list-grid">
        <dt>Requirements</dt>
        <dd>Background in System and Control Theory, experience with C++ and Matlab (or Python).
Knowledge of ROS and mathematical optimization will be a big plus.</dd>
        <dt>Professor</dt>
        <dd>Jane Doe</dd>
        <dt>Supervisor</dt>
        <dd>John Doe</dd>
      </dl>
    </div>
  </section>
  {% endfor %}

  <h2>Past projects</h2>

  {% for i in 1..3 %}
  <section class="collapse-container">
    <header class="collapse-title collapse-title-desktop collapsed" data-toggle="collapse" data-target="#project-completed-{{loop.index}}" aria-expanded="false" aria-controls="project-completed-{{loop.index}}">
      <p class="title">Lorem ipsum dolor sit amet, consectetur adipising elit</p>
      <ul class="project-data list-inline has-sep small text-muted">
        <li>ID: 9762</li>
        <li><span class="sr-only">Semester: </span>Fall 2020</li>
        <li><span class="sr-only">Type(s): </span>MS, PdM</li>
        <li><span class="sr-only">Section(s): </span>GM, MT, EL</li>
        <li class="completed"><span class="sr-only">Status: </span>Completed</li>
        <li><span class="sr-only">Professor: </span>Jane Doe</li>
      </ul>
      <div class="project-data project-completed small text-muted">
        <span class="project-team">Team: <a href="#">John Doe</a>, <a href="#">Jane Doe</a>, <a href="#">John Doe</a></span>
        <div class="actions">
          <a class="btn btn-secondary btn-sm" href="#">{% include "@atoms/icon/icon.twig" with { icon:  'download', icon_classes:'feather' } %} Report (PDF)</a>
          <a class="btn btn-secondary btn-sm" href="#">{% include "@atoms/icon/icon.twig" with { icon:  'download', icon_classes:'feather' } %} Presentation (PDF)</a>
          <a class="btn btn-secondary btn-sm" href="#">{% include "@atoms/icon/icon.twig" with { icon:  'download', icon_classes:'feather' } %} Archive (Zip)</a>
        </div>
      </div>
    </header>

    <div class="collapse collapse-item collapse-item-desktop" id="project-completed-{{loop.index}}">
      <div class="project-thumb alignright">
        {% include '@atoms/picture/picture-thumb-square.twig' %}
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent faucibus fringilla est, quis facilisis nunc suscipit ut. Sed dignissim orci non risus convallis consequat. Etiam sit amet feugiat orci, eget eleifend metus. Nam sagittis purus nec purus posuere viverra eu eu leo. Suspendisse nec arcu pharetra, dictum ante vel, bibendum mauris. Integer lacus augue, tincidunt sodales diam quis, pellentesque dictum nisl. Etiam aliquam eros ac urna tincidunt auctor.</p>
      <p>Integer auctor dictum felis eget interdum. Aenean arcu est, bibendum sit amet elit id, accumsan sollicitudin orci. Aenean tincidunt fringilla justo. Aliquam faucibus odio sem. Quisque neque magna, mattis id lectus eu, fermentum lacinia est. Fusce tincidunt tincidunt luctus. Nam sed vestibulum sapien. Maecenas vel rhoncus risus. Pellentesque facilisis tellus vitae nunc pulvinar, vitae tempus odio consequat.</p>

      <dl class="definition-list definition-list-grid">
        <dt>Requirements</dt>
        <dd>Background in System and Control Theory, experience with C++ and Matlab (or Python).
Knowledge of ROS and mathematical optimization will be a big plus.</dd>
        <dt>Professor</dt>
        <dd>Jane Doe</dd>
        <dt>Supervisor</dt>
        <dd>John Doe</dd>
      </dl>
    </div>
  </section>
  {% endfor %}

</div>
