{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<div class="footer-faculties">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-fac" aria-expanded="false" aria-controls="collapse-fac">
    {% if language == 'fr' %}
    Facultés
    {% endif %}
    {% if language == 'en' %}
    Schools
    {% endif %}
  </button>
  <div class="collapse collapse-item" id="collapse-fac">
    <ul class="footer-links">
    {% for school in schools %}
      <li>
        {% if language == 'fr' %}
        <a href="{{school.urlfr}}">{{school.namefr}} <strong>{{school.acronym}}</strong></a>
        {% endif %}
        {% if language == 'en' %}
        <a href="{{school.urlen}}">{{school.nameen}} <strong>{{school.acronym}}</strong></a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
