{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<div class="footer-faculties">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-fac" aria-expanded="false" aria-controls="collapse-fac">
    {% if language == 'fr' %}
    Facultés
    {% endif %}
    {% if language == 'en' %}
    Schools
    {% endif %}
    {% if language == 'de' %}
    Fakultäten
    {% endif %}
  </button>
  <div class="collapse collapse-item" id="collapse-fac">
    <ul class="footer-links">
    {% for school in schools %}
      <li>
        {% if language == 'fr' %}
        <a href="{{school.url_fr}}"{{ school.target_blank_fr ? ' target="_blank"' }}{{ school.rel_noopener_fr ? ' rel="noopener"' }}>{{school.name_fr}} <strong>{{school.acronym}}</strong></a>
        {% endif %}
        {% if language == 'en' %}
        <a href="{{school.url_en}}"{{ school.target_blank_en ? ' target="_blank"' }}{{ school.rel_noopener_en ? ' rel="noopener"' }}>{{school.name_en}} <strong>{{school.acronym}}</strong></a>
        {% endif %}
        {% if language == 'de' %}
          <a href="{{school.url_de}}"{{ school.target_blank_de ? ' target="_blank"' }}{{ school.rel_noopener_de ? ' rel="noopener"' }}>{{school.name_de}} <strong>{{school.acronym}}</strong></a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </div>
</div>
