<div class="footer-sitemap-col">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id ?: 1}}" aria-expanded="false" aria-controls="collapse-{{id ?: 1}}">
    <strong>A propos de l’EPFL</strong>
  </button>
  <div class="collapse collapse-item" id="collapse-{{id ?: 1}}">
    <ul class="footer-links">
      <li>
        <a href="#">Vue d’ensemble</a>
      </li>
      <li>
        <a href="#">Histoire de l’EPFL</a>
      </li>
      <li>
        <a href="#">Actualités</a>
      </li>
      <li>
        <a href="#">Organisation administrative</a>
      </li>
      <li>
        <a href="#">Actions pour le public extérieur</a>
      </li>
      <li>
        <a href="#">Emplois</a>
      </li>
      <li>
        <a href="#">Mécénats et dons</a>
      </li>
      <li>
        <a href="#">Presse et média</a>
      </li>
    </ul>
  </div>
</div>
<div class="footer-sitemap-col">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id ?: 2}}" aria-expanded="false" aria-controls="collapse-{{id ?: 2}}">
    <strong>Education</strong>
  </button>
  <div class="collapse collapse-item" id="collapse-{{id ?: 2}}">
    <ul class="footer-links">
      <li>
        <a href="#">Bachelors</a>
      </li>
      <li>
        <a href="#">Masters</a>
      </li>
      <li>
        <a href="#">Doctorats</a>
      </li>
      <li>
        <a href="#">MBA</a>
      </li>
      <li>
        <a href="#">Calendrier académique</a>
      </li>
      <li>
        <a href="#">MOOCS et autoformation</a>
      </li>
    </ul>
  </div>
</div>
<div class="footer-sitemap-col">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id ?: 3}}" aria-expanded="false" aria-controls="collapse-{{id ?: 3}}">
    <strong>Recherche</strong>
  </button>
  <div class="collapse collapse-item" id="collapse-{{id ?: 3}}">
    <ul class="footer-links">
      <li>
        <a href="#">Domaines de recherche par facultés</a>
      </li>
      <li>
        <a href="#">Événements scientifiques</a>
      </li>
      <li>
        <a href="#">Publications scientifiques</a>
      </li>
      <li>
        <a href="#">Organisation administrative</a>
      </li>
      <li>
        <a href="#">Annuaire des facultés</a>
      </li>
    </ul>
  </div>
</div>
<div class="footer-sitemap-col">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id ?: 4}}" aria-expanded="false" aria-controls="collapse-{{id ?: 4}}">
    <strong>Innovation</strong>
  </button>
  <div class="collapse collapse-item" id="collapse-{{id ?: 4}}">
    <ul class="footer-links">
      <li>
        <a href="#">Partenariat avec l’industrie</a>
      </li>
      <li>
        <a href="#">Accompagnement de start-ups</a>
      </li>
      <li>
        <a href="#">Soutien aux innovateurs</a>
      </li>
      <li>
        <a href="#">Innovation park</a>
      </li>
    </ul>
  </div>
</div>
<div class="footer-sitemap-col">
  <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-{{id ?: 5}}" aria-expanded="false" aria-controls="collapse-{{id ?: 5}}">
    <strong>Campus</strong>
  </button>
  <div class="collapse collapse-item" id="collapse-{{id ?: 5}}">
    <ul class="footer-links">
      <li>
        <a href="#">Accéder au campus</a>
      </li>
      <li>
        <a href="#">Bâtiments et services</a>
      </li>
      <li>
        <a href="#">Recevoir de l’aide</a>
      </li>
      <li>
        <a href="#">Bons plans</a>
      </li>
      <li>
        <a href="#">Associations sur le campus</a>
      </li>
      <li>
        <a href="#">S’installer à Lausanne</a>
      </li>
      <li>
        <a href="#">Anciens étudiants</a>
      </li>
    </ul>
  </div>
</div>