<div class="contact-list">
{% for person in people %}
  <div class="contact-list-row" itemscope itemtype="http://schema.org/Person">
    <div class="contact-list-avatar" itemprop="image">
      {% include '@atoms/picture/picture-avatar.twig' %}
    </div>
    <a href="#" class="contact-list-item" itemprop="name">{{ person.prenom }} {{ person.nom }}</a>
    <p class="contact-list-item m-0 text-muted" itemprop="jobTitle">{{ person.functions|join(', ') }}</p>
    <a class="contact-list-item text-muted" href="#" itemprop="email">{{ person.email }}</a>
    <a class="contact-list-item text-muted" href="#" itemprop="telephone">+41 21 69 <b>{{ person.phones.0 }}</b></a>
    <a class="contact-list-item text-muted" href="#" itemprop="workLocation">{{ person.rooms.0 }}</a>
  </div>
{% endfor %}
</div>
