{% if language is not defined %}{% set language = 'fr' %}{% endif %}

{% for col in footer %}
  <div class="footer-sitemap-col">
    <button class="footer-title collapse-title collapsed" type="button" data-toggle="collapse" data-target="#collapse-footer-{{loop.index ?: 1}}" aria-expanded="false" aria-controls="collapse-footer-{{loop.index ?: 1}}">
      {% if language == 'fr' %}
      <strong>{{col.heading_fr}}</strong>
      {% endif %}
      {% if language == 'en' %}
      <strong>{{col.heading_en}}</strong>
      {% endif %}
      {% if language == 'de' %}
        <strong>{{col.heading_de}}</strong>
      {% endif %}
    </button>
    <div class="collapse collapse-item" id="collapse-footer-{{loop.index ?: 1}}">
      <ul class="footer-links">
        {% for item in col.items %}
          <li>
            {% if language == 'fr' %}
            <a href="{{item.url_fr}}"{{ item.target_blank_fr ? ' target="_blank"' }}{{ item.rel_noopener_fr ? ' rel="noopener"' }}>{{item.name_fr}}</a>
            {% endif %}
            {% if language == 'en' %}
            <a href="{{item.url_en}}"{{ item.target_blank_en ? ' target="_blank"' }}{{ item.rel_noopener_en ? ' rel="noopener"' }}>{{item.name_en}}</a>
            {% endif %}
            {% if language == 'de' %}
              <a href="{{item.url_de}}"{{ item.target_blank_de ? ' target="_blank"' }}{{ item.rel_noopener_de ? ' rel="noopener"' }}>{{item.name_de}}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endfor %}
