{% if language is not defined %}{% set language = 'fr' %}{% endif %}

<header role="banner" class="header">
  <a class="logo" href="#">
    <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
  </a>
  <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    {% for head in header %}
      <li id="menu-item-{{ loop.index }}"{# {% if loop.index == 2 %} class="active"{% endif %}#}>
        {% if language == 'fr' %}
        <a class="nav-item" href="{{ head.urlfr }}">{{ head.namefr }}</a>
        {% endif %}
        {% if language == 'en' %}
        <a class="nav-item" href="{{ head.urlen }}">{{ head.nameen }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% include '@molecules/search/search.twig' %}
  {% include '@molecules/search/search-mobile.twig' %}
  {% include '@atoms/nav-lang/nav-lang-short.twig' %}
  {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
</header>
