{% if language is not defined %}{% set language = 'fr' %}{% endif %}
{% if long_nav_lang is not defined %}{% set long_nav_lang = false %}{% endif %}

<header role="banner" class="header">
  <a class="logo" href="#">
    <img src="svg/epfl-logo.svg" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
  </a>
  <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
    {% for head in header %}
      <li id="menu-item-{{ loop.index }}" {% if loop.index == 2 %} class="current-menu-item"{% endif %}>
        {% if language == 'fr' %}
        <a class="nav-item" href="{{ head.url_fr }}">{{ head.name_fr }}</a>
        {% endif %}
        {% if language == 'en' %}
        <a class="nav-item" href="{{ head.url_en }}">{{ head.name_en }}</a>
        {% endif %}
        {% if language == 'de' %}
          <a class="nav-item" href="{{ head.url_de }}">{{ head.name_de }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% include '@molecules/search/search.twig' %}
  {% include '@molecules/search/search-mobile.twig' %}
  {%  if long_nav_lang %}
    {% include '@atoms/nav-lang/nav-lang.twig' %}
  {% endif %}
  {%  if long_nav_lang == false %}
    {% include '@atoms/nav-lang/nav-lang-short.twig' %}
  {% endif %}
  {% include '@atoms/nav-toggle-mobile/nav-toggle-mobile.twig' %}
</header>
