{% macro card_link(card) %}
  <a href="#" class="card link-trapeze-horizontal">
    <div class="card-body">
      <h3 class="card-title">{{ card.title }}</h3>
      <div class="card-info">
        {% if card.date %}
          <span class="card-info-date">
            <time datetime="DATETIME HERE">{{ card.date }}</time>
          </span>
        {% endif %}
        {% for item in card.info %}
          <span>{{ item }}</span>
        {% endfor %}
      </div>
      <p>{{ card.content }}</p>
    </div>
  </a>
{% endmacro %}
{% import _self as macros %}

{% set bottomlink = bottomlink|default(true) %}

{# The intro fullwidth teaser #}
{% include '@organisms/fullwidth-teaser/fullwidth-teaser-horizontal.twig' %}

{# First teasers #}
<div class="container pb-5 offset-xl-top pt-5 pt-xl-0">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <div class="row mb-4">
        {% for card in homepage.section_one.cards %}
          <div class="col-md-6 d-flex">
            {{ macros.card_link(card) }}
          </div>
        {% endfor %}
      </div>
      {% if bottomlink %}
        <p class="text-center">
          <a class="link-pretty" href="#">{{ homepage.section_one.readmore }}</a>
        </p>
      {% endif %}
    </div>
  </div>
</div>
