{# Find if the current branch has the current entry menu selected and "return" the title #}
{% macro menu_look_for_selected_recursively(menu_entry) %}
  {% import _self as self %}
  {% for submenu in menu_entry.submenu %}
    {% if 'selected' in submenu|keys and submenu.selected %}found
    {% else %}
      {{ self.menu_look_for_selected_recursively(submenu) }}
    {% endif %}
  {% endfor %}
{% endmacro %}

{#
  Print recursively the menu entries. All branches that have the selected item should have this class structure
  1. current-menu-ancestor, 2->x. current-menu-parent, x. current-menu-item
#}
{% macro menu_entry_row(menu_entry, ancestor_set) %}
  {% import _self as self %}
  <li class="
    {% if menu_entry.selected == true %}
      current-menu-item
    {% elseif self.menu_look_for_selected_recursively(menu_entry)|trim is not empty %}
      {% if ancestor_set == '0' %}
      current-menu-ancestor
      {% set ancestor_set = '1' %}
      {% else %}
      current-menu-parent
      {% endif %}
    {% endif %}
    {% if menu_entry.submenu %} menu-item-has-children{% endif %}">
    <a href="{{ menu_entry.url }}">{{ menu_entry.title }}</a>
    {% if menu_entry.submenu %}
      <a href="#" role="button" aria-hidden="true" class="nav-arrow">
        <div class="icon-container">
          {% include '@atoms/icon/icon.twig' with {icon: 'icon-chevron-right'} %}
        </div>
      </a>
      <ul>
        <li class="nav-back">
          <a href="{{ menu_entry.url }}">
            {% include '@atoms/icon/icon.twig' with {icon: 'icon-arrow-left'} %} {{ menu_entry.title }}
          </a>
        </li>
      {% for submenu_entry in menu_entry.submenu %}
        {{ self.menu_entry_row(submenu_entry, ancestor_set) }}
      {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}

{% import _self as menu_macro %}

<div class="overlay"></div>
<nav class="nav-main" id="main-navigation" role="navigation">
  <div class="nav-wrapper">
    <div class="nav-container">
      <ul class="nav-menu">
        {% set ancestor_set = '0' %}
        {% for menu_entry in menu %}
          {{ menu_macro.menu_entry_row(menu_entry, ancestor_set) }}
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
