<span class="social-icon social-icon-facebook {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-facebook' } %}
</span>
<span class="social-icon social-icon-twitter {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-twitter' } %}
</span>
<span class="social-icon social-icon-instagram {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-instagram' } %}
</span>
<span class="social-icon social-icon-mail {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-mail-plane' } %}
</span>
<span class="social-icon social-icon-whatsapp {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-whatsapp' } %}
</span>
<span class="social-icon social-icon-googleplus {{classes}}">
  {% include 'atoms::icon/icon.twig' with { icon: 'icon-googleplus' } %}
</span>
