<div class="press-teaser">
  <h3 class="h4 mb-4">19.01.2018</h3>
  {% for i in [1,2,3] %}
    <button
      class="collapse-title collapse-title-desktop"
      type="button"
      data-toggle="collapse"
      data-target="#collapse-{{i}}"
      aria-expanded="{{ i == 1 ? 'true' : 'false'}}"
      aria-controls="collapse-{{i}}"
    >
      Piloter un drone avec un joystick
    </button>
    <div class="collapse collapse-item collapse-item-desktop {{ i == 1 ? 'show' : ''}}" id="collapse-{{i}}">
      <div class="pb-4">
        <p>
          Le prototype de joystick imaginé par la start-up de l'EPFL MotionPilot permet de piloter un drone d’une seule main, de manière intuitive, rapporte L'Agefi.
        </p>
        <a href="#">Détails du communiqué</a><br>
        <a href="#">Communiqué réservé aux journalistes</a>
        <small>{% include "@atoms/icon/icon.twig" with { icon: 'icon-lock' } %}</small>
      </div>
    </div>
  {% endfor %}
</div>
