<form class="question" action="">

  <div class="question-img">
    {% include '@atoms/picture/picture-question.twig' %}
  </div>

  <div class="question-content">
    <h2 class="question-title">{{ type ?: 'Type de question' }}</h2>
    <h3 class="question-subtitle mt-3">{{ title ?: 'Titre de la question' }}</h3>

    <div class="question-answers mt-4">
      {% set options = options|default(['Option 1', 'Option 2', 'Option 3']) %}
      {% for option in options %}
        <input type="radio" id="custom-radio{{loop.index}}" name="customRadio" class="custom-control-input">
        <label class="custom-control-label" for="custom-radio{{loop.index}}">
          <span class="custom-control-label-content">
          {{ option }}</span>
          <span class="trapeze-horizontal d-none d-lg-block"></span>
          <span class="trapeze-vertical d-lg-none"></span>
        </label>
      {% endfor %}
    </div>

    <input type="submit" class="btn btn-primary mt-4" value="Voter">
  </div>
</form>
